body{ 
  font-family:Helvetica, Arial, sans-serif;
 }
 #contenedora{
  position:relative;
  width:1500px;
  height:100%;
  border: solid 5px black;
  background-color:#990000;
  margin: 20px auto 0 auto;
}
header{
  width: 1480px;
  height: 200px;
  background-color: blue;
  padding: 10px;
  float: left;
}
nav{
  width: 500px;
  height: 500px;
  background-color: #2e696e;
  padding: 10px;
  float: left;
}
article{
  width: 960px;
  height: 500px;
  padding: 10px;
  float: left;
  background-color: aquamarine;
}
#limpiar{
  clear:both;
}
