body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #5b3f0f;
    color: #fff;
    padding: 15px;
}

.logo img, .cart img {
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart {
    margin-left: auto; /* Empuja todos los elementos a la derecha */
    margin-right: 20px; /* Espacio entre el carrito y el logo */
}

.logo {
    margin-right: 20px; /* Espacio entre el logo y el menú */
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}



.hero {
    background-image: url("hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    color: #fff;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.5;
}

.hero-text a {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.productos {
    padding: 40px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.producto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.producto p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.producto a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.promos {
    padding: 40px;
}

.promos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.promo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.promo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.promo h3 {
    font-size: 20px;
    margin-bottom: 10px;
}