@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* -------------Variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;
}

/* -------------Variables */
html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

.titulo_menciones{
  text-align: center;
}

.contenedor_menciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px; /* Espacio entre elementos */
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 7%;
}

.cajas_fotos {
  width: 90%; 
  margin: auto; 
  border: 1px solid #ccc; 
  box-shadow: -1px -1px 40px -1px rgba(0,0,0,0.63);
}

.cajas_fotos img {
  width: 100%; 
}

.cajas_fotos h3 {
  text-align: left;
  margin-left: 5px;
}

.cajas_fotos p {
  text-align: left;
  font-size: small;
  margin-left: 5px;
}